[
  {
    "email": "${EMAIL_1}",
    "password": "${PASSWORD_1}",
    "username": "${USERNAME_1}"
  },
  {
    "email": "${EMAIL_2}",
    "password": "${PASSWORD_2}",
    "username": "${USERNAME_2}"
  },
  {
    "email": "${EMAIL_3}",
    "password": "${PASSWORD_3}",
    "username": "${USERNAME_3}"
  }
]
